body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    overflow: hidden;
}

/*Hyperlinks*/
a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*Bilder allgemein*/
img {
    border: none
}

/*Boxen */
#box {
    margin: auto;
    height: 768px;
    width: 1024px;
    background-image: url(../logobild/logo_hg.jpg);
    background-repeat: no-repeat;
    background-position: 50px -120px;
    border: 1px solid #CCC;
}

#box #logobereich {
    border-bottom: 1px solid #CCC;
    background-color: #FFF;
    text-align: center;
}

#box #navibereich {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#box #inhaltsbereich {
    height: 600px;
    margin-left: 40px;
}

#box #footerbereich {
    text-align: center;
    background-color: #999;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -50px;
}

/*Kontakt*/
#grussbereich {
    margin-left: 100px;
    margin-top: 20px;
}



